<div class="container">
<h3 class="mytext1">Calculator</h3>
<hr>

<div class="form-group">
  <label for="value">value</label>
  <input type="number" class="form-control" id="value"
         placeholder="Enter salary"
         required
         [(ngModel)]="calculator.value" name="value" #value="ngModel">
  <div [hidden]="value.valid || value.pristine"
       class="alert alert-danger">
    value is required
  </div>
</div>

<form>
  <div class="form-check">
    <label class="toggle">
      <input type="radio" name="toggle" checked   value="EUR"
             [(ngModel)]="calculator.currency" name="currency"> <span class="label-text">EUR</span>
    </label>
    <label class="toggle">
      <input type="radio" name="toggle" value="GBP"
             [(ngModel)]="calculator.currency" name="currency"> <span class="label-text">GBP</span>
    </label>
    <label class="toggle">
      <input type="radio" name="toggle"  value="PLN"
             [(ngModel)]="calculator.currency" name="currency"> <span class="label-text">PLN</span>
    </label>
  </div>
</form>

<div class="button">
  <button class="btn btn-dark" (click)="addSalary()" >Calculate</button>
</div>

<h3 class="history">History</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>

</div>
